#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- dplyr
- ggplot2
- Pandas

| Data Science Tools |
| ------------------ |
| RStudio |
| Jupyter Notebook |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
- R
- Python
- SQL
- Scala
- Julia

## Author
BEMARSON YAO MENSAH